@import "tailwindcss";

body {
    margin: 0;
    height: 100vh;
    color: rgb(0, 255, 0);
    background: radial-gradient(circle at 40% 50%, #020119 30%, rgba(76, 29, 149, 0.7), rgba(168, 90, 217, 0.6));
    background-size: 300% 300%;
    animation: gradientMotion 30s ease infinite;
}

@keyframes gradientMotion {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 100%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 50% 0%;
    }

    100% {
        background-position: 0% 50%;
    }
}


@layer utilities{

  @keyframes spin-slow {
      from {
        transform: rotate(0deg);
      }
  
      to {
        transform: rotate(360deg);
      }
    }
  
    .animate-spin-slow {
      animation: spin-slow 3s linear infinite;
    }

  @keyframes blink{
      0%,100% {
        opacity: 1;
      }
  
      50% {
        opacity: 0;
      }
    }
  
    .animate-blink {
      animation: blink 0.8s step-end infinite;
    }


  @keyframes loading {
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(400%);
    }
  }

  .animate-loading-bar{
    animation: loading  4s ease infinite;
  }
}

.reveal{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible{
  opacity: 1;
  transform: translateY(0) ;
}